region            = "ap-southeast-1"
trail_name        = "techx-tf3-mandate12-organization"
audit_bucket_name = "<output-from-log-archive>"
audit_kms_key_arn = "<output-from-log-archive>"

sensitive_s3_object_arns = [
  "arn:aws:s3:::<approved-sensitive-bucket>/<approved-prefix>/",
]

alert_email_endpoints = [
  "<security-owner@example.com>",
]

cloudwatch_log_retention_days = 90

